body
{
    margin: 0;
    padding: 0;
    background-color: rgb(228, 243, 255);

}
h1{
    padding: 0;
    margin: 0;
}
.hero1{
    background:linear-gradient(to bottom right, #9b0fff,#3918be) ;
    height: 100vh;
    width: 100%;
}
.topsec{
height: 30px;
width: 100%;
position: relative;
top: 1%;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #e4f3ff;
padding: 0;
margin: 0;

}
.topsec p{
    margin: 20px;
}

.nav
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.backcolor{
    background-color: rgb(228, 243, 255);
    position: relative;
    width: 100%;
    height: 20rem;
    top: 30%;
}
.img-sec{
    display: flex;
    justify-content: center;
    position:  relative;
    width: 100%;
    height: 28rem;
    margin-top: -15%;
    
   
}
.img-sec img{
    border: 10px solid #fff;
}
 
.about2{
    background-color: rgb(228, 243, 255);
    height: 100vh;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .textarea{
     height: 100vh;
    width: auto;
    margin: 50px;
    

     
 }
 .point{
    position: relative;
    margin-bottom: 20px;
    padding-left: 20px;

 }
 .point::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0.4;
    height: 2rem;
    width: 3px;
    background-color: #3918be;
 }
 .textarea h1{
    margin-top: 60px;
    margin-bottom: 130px;
    font-weight: 100;
    color: #3918be;
    text-transform: capitalize;
 }
 .sidelogo{
    width: 20rem;
    height: 100vh;
 }
 .colorconter
 {
    background-color: #3918be;
    height: 100vh;
    width: 100px;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
 }
 .logo{
    background-color: #ffffff;
    width: 300;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    margin: 2px;
  
 }
 .logo img{
 border-radius: 50%;
 height: 290px;
 width: 290px;
 margin: 5px;
 }
 .members3{
    height: 100vh;
    width: 100%;
    background-color: #fff;

 }
  